@{
    ViewBag.Title = "Index";
}

<div class="span11 offset1">
    <div id="content">
        <h2>Bass Drops in:</h2>    
        <div id="countdown_dashboard">
            <div class="dash weeks_dash">
                <span class="dash_title">weeks</span>
                <div class="digit">3</div>
                <div class="digit">5</div>
            </div>

            <div class="dash days_dash">
                <span class="dash_title">days</span>
                <div class="digit">0</div>
                <div class="digit">3</div>
            </div>

            <div class="dash hours_dash">
                <span class="dash_title">hours</span>
                <div class="digit">0</div>
                <div class="digit">4</div>
            </div>

            <div class="dash minutes_dash">
                <span class="dash_title">minutes</span>
                <div class="digit">2</div>
                <div class="digit">3</div>
            </div>

            <div class="dash seconds_dash">
                <span class="dash_title">seconds</span>
                <div class="digit">4</div>
                <div class="digit">4</div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/countdown.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('#countdown_dashboard').countDown({
                targetDate: {
                    'day': 14,
                    'month': 6,
                    'year': 2013,
                    'hour': 9,
                    'min': 0,
                    'sec': 0
                }
            });
        });
    </script>
}
